#exercise-type-buttons button {
  transition: all 0.25s;
}

#exercise-type-buttons button:first-of-type {
  border-radius: 10px 0 0 10px;
}

#exercise-type-buttons button:last-of-type {
  border-radius: 0 10px 10px 0;
}
